# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.c

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
.venv/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/
*.iml
*.ipr
*.iws
out/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

